@import 'variables';
@import 'form';
@import 'profile';
@import 'header';
@import 'article';
@import 'comment';

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

body {
  margin: 0;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  color: $primary-font-color;
 }

a {
  text-decoration: none;
  color: $secondly-font-color;
  font-size: $small-font-size;
  opacity: $opacity;
}

.top-image{
  width: 100%;
  height: $top-image-height;
}

.container {
  padding: $base-padding-size;
}

.hidden {
  visibility: hidden;
}

.none {
  display: none;
}

.avatar {

  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  &-img{
    width: $img-radius;
    height: $img-radius;
    border-radius: 100%;
    margin-right: $img-margin;
  }
}

.icons {
  margin-right: $base-margin-size * 0.25;
  cursor: pointer;
  
  a {
    color: $primary-font-color;
  }

  .active {
    color: $primary-heart-color;
  }

}
