@import 'variables';
@import 'form';
@import 'profile';
@import 'header';
@import 'article';

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

body {
  margin: 0;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  color: $primary-font-color;
 }

a {
  text-decoration: none;
  color: $secondly-font-color;
  font-size: $small-font-size;
  opacity: $opacity;
}

.top-image{
  width: 100%;
  height: $top-image-height;
}

.container {
  padding: $base-padding-size;
}

.camera-icon {
  color: black;
}
