@import 'variables';

.text {
  width: 100%;
  margin-bottom: $base-margin-size;
  color: $primary-font-color;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
  font-family: $base-font-family;
  border: none;
  border-bottom: $base-border-size solid $primary-border-color;
  padding: $base-padding-size * 0.5 ;

  &_small {
    color: $secondly-font-color;
    font-weight: $small-font-weight;
    font-size: $small-font-size;
    opacity: $opacity;
  }
}

input[type="submit"] {
  width: 100%;
  background-color: $primary-btn-color;
  color: #000000;
  font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: $small-font-weight;
  border: none;
  line-height: $base-line-height * 2;
  margin-top: $base-margin-size * 4;
  cursor: pointer;
}

.link {
  text-align: right;
}