@import 'variables';

.header {
  display: flex;
  justify-content: space-between;
  font-weight: $small-font-weight;
  height: $header-height;

  a {
    font-size: $base-font-size;
  }

  .camera-icon {
    color: black;
  }
  
}