@import 'variables';

.profile {

  $img-radius: 84px;
  $img-padding: 4px;
  $base-height: 200px;

  .avatar {

    height: $base-height;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &-img{
      width: $img-radius;
      height: $img-radius;
      border-radius: 100%;
      padding: $img-padding;
      border: $base-border-size solid red;
      cursor: pointer;
    }
  }

  .counter {

    height: $base-height * 0.5;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &-number {
      text-align: center;
      font-weight: $small-font-weight;
      font-size: $base-font-size;
      color: $primary-font-color;
    }

    &-title {
      text-align: center;
      font-size: $base-font-size - 2px;
      color: $secondly-font-color;
    }
  }

}
